  <View>
    <RectangleLabels name="rectangles" toName="pdf" showInline="true">
      <Label value="Title" background="green" />
      <Label value="Date" background="blue" />
      <Label value="Author" background="gold"/>
      <Label value="Organization" background="pink"/>
      <Label value="Amount" background="red"/>
    </RectangleLabels>
    <Image valueList="$pages" name="pdf"/>
  </View>


  <!-- {
    "pages": [
      "https://htx-pub.s3.amazonaws.com/demo/images/demo_stock_purchase_agreement/0001.jpg",
      "https://htx-pub.s3.amazonaws.com/demo/images/demo_stock_purchase_agreement/0002.jpg",
      "https://htx-pub.s3.amazonaws.com/demo/images/demo_stock_purchase_agreement/0003.jpg"
    ]
  } -->
