<%- partial("component/heading", {text: "Tutorials", size: "XLarge", tag: "h1", customClass: "home-page-title"}) %>

<div class="templates-grid">
  <% site.pages
    .filter(p => p.source.startsWith('tutorials/') && p.source !== 'tutorials/index.md')
    .sort((a,b) => a.source.localeCompare(b.source))
    .forEach(function(p){ %>
    <div class="templates-card">
      <a href="<%= url_for(p.path) %>"><%- partial("component/heading", {text: p.title, size: "XXSmall", tag: "span" }) %></a>
    </div>
  <% }); %>
</div>
